{
    email admin@ng-vms.enterprise
}

:80 {
    # Frontend
    reverse_proxy /_next/* frontend:3000
    reverse_proxy /static/* frontend:3000
    
    # Backend API
    reverse_proxy /api/* backend:5001
    
    # Backend Sockets
    reverse_proxy /socket.io/* backend:5001
    
    # Catch-all for Frontend (SPA/Next.js)
    reverse_proxy * frontend:3000
}
